
@import "tailwindcss";
.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.nav {
    display: flex;
    list-style-type: none;

}

.nav li{
    padding:10px;

}

.nav  a{
    color:white;

}
